input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  height: 24px;
  width: 24px;
  background: #3b82f6;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  -webkit-appearance: none;
}

input[type="range"]::-moz-range-thumb {
  pointer-events: auto;
  height: 24px;
  width: 24px;
  background: #3b82f6;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}
